# Molecular Dynamics Input files
pbtools/**/*
!pbtools/**/*.py

# Pycache
__pycache__/

# Sphinx temp folder
doc/source/_*

# Files for packaging
build/
*.egg-info
/dist/

# Large data files
data/**/*
!data/run.sh

# Jupyter notebook
.ipynb_checkpoints
